<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
  <test name="MultipleTestCases" >
    <classes>
       <class name="storelocatorTestCases.DP" />
       <class name="storelocatorTestCases.findStore" />
       <class name="storelocatorTestCases.findStoreDataDriven" />
    </classes>
  </test>
 
</suite>
